.container{
    background-color: #fffffe;
    padding: 0rem 0 6rem 0;
}
.content{ line-height: 1;
    align-items: center;
    justify-content: center;}

.headline{
    font-size: 1.728rem;
    color: #0f0e17;
}

.subHeadline{
color: #2e2f3e;
}