.container{
    background-color: #fffffe;
    padding: 6rem 0;
    border: 1px solid red;
    min-height: 40vh;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #0f0e17;
}
.content{ line-height: 1}

.headline{
    font-size: 1.728rem;
    color: #0f0e17;
}

.subHeadline{
color: #2e2f3e;
}