.container{
    background-color: #ffffff;
    padding: 1rem ;
     min-height: 36vh;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #0f0e17; 

     /* Small devices (landscape phones, 576px and up) */
     @media (min-width: 576px) {   }

     /* Medium devices (tablets, 768px and up) */
     @media (min-width: 768px) {   }
 
     /* Large devices (desktops, 992px and up) */
     @media (min-width: 992px) {  
        padding: 1rem 4rem;
      }
 
     /* X-Large devices (large desktops, 1200px and up) */
     @media (min-width: 1200px) {   }
 
     /*  XX-Large devices (larger desktops, 1400px and up) */
     @media (min-width: 1400px) {  }
 

}


.content{  
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr ;
        grid-template-rows: auto  ; 
        width: 100%;

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {   }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {     padding: 1rem 4rem;  }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto ; 
     }

    /* X-Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {   }

    /*  XX-Large devices (larger desktops, 1400px and up) */
    @media (min-width: 1400px) {  }


}

.headline{
    font-size: 1.728rem;
    color: #0f0e17;
}

.subHeadline{
color: #2e2f3e;
}



.emptyContent{ 
    line-height: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 1rem;
}

.emptyHeadline{
    font-size: 1.728rem;
    color: #0f0e17;
}

.emptySubHeadline{
color: #2e2f3e;
}